@import "components/checkbox";
.header{
  &--catalog{
    padding-bottom: 20px;
  }
}
.catalog{
	margin-bottom: 70px;
	&__adress-container{
		display: flex;
		grid-column: 12 span;
	}
	&__adress-items:not(:last-child){
		margin-right: 6px;
	}
	&__adress-hrefs{
		color: var(--color-grey);
	}
	&__adress-hrefs--color{
		color: var(--color-fiol-dark);
	}
	&__filter-container{
		grid-column: 1 / 4;
	}
	&__filter-title{
		font: var(--prehigh-middle-book);
		margin-bottom: 20px;
		font-weight: bold;
	}
	&__category-container{
		margin-bottom: 24px;
	}
	&__category-title{
		@include title-filter;
		line-height: 20px;
		margin-bottom: 10px;

	}
	&__category{
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
	}
	&__category-items{
		@include filter-content;
		&:not(:last-child){
			margin-bottom: 12px;
		}
	}
	&__span-accept {
		font: var(--middle-book);
		line-height: 16px;
		&::before{
			width: 20px;
			height: 20px;
			margin-right: 11px
		}
		&::after{
			left: 3px;
			top: 3px;
			width: 20px;
			height: 20px;
			background-image: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6.00002L5.52769 10.5277L13.6473 1.40808' stroke='white' stroke-width='2'/%3E%3C/svg%3E");;
		}
	}
	&__category-btn{
		@include filter-content;
		color: var(--color-fiol);
	}
	&__price-container{
		margin-bottom: 38px;
	}
	&__price-title{
		@include title-filter;
		margin-bottom: 8px;
	}
	&__price-input-container{
		display: flex;
		width: 100%;
		margin-bottom: 10px;
		align-items: center;
	}
	&__price-input{
		max-width: 86px;
		max-height: 30px;
		padding: 5px 0;
		padding-left: 12px;
		font: var(--middle-book);
		border: 1px solid var(--color-grey);
		color: var(--color-grey-shade);
		border-radius: 4px;
		border-color: var(--color-grey);
	}
	&__price-span{
		@include filter-content;
		margin-right: 9px;

	}
	&__price-input--min{
		margin-right: auto;
	}

	&__progress-bar{
	width: 100%;
	height: 20px;
	}
	&__sale-container{
		margin-bottom: 28px;
	}
	&__sale-title{
		@include title-filter;
		margin-bottom: 13px;
	}
	&__sale-list{
		display: flex;
		flex-direction: column;
	}
	&__sale-items{
		@include filter-content;

		&:not(:last-child){
			margin-bottom: 12px;
		}
	}
	&__color-container{
		margin-bottom: 32px;
	}
	&__color-title{
		@include title-filter;
		margin-bottom: 10px;
	}
	&__color{
		display: flex;
		flex-direction: column;
		margin-bottom: 12px
	}
	&__color-items{
		@include filter-content;
		&:not(:last-child){
			margin-bottom: 12px;
		}
	}

	&__baner-container{
		background-color: var(--color-black);
		border-radius: 10px;
	}

	&__baner-img{
		min-height: 168px;
	}
	&__baner-title {
		color: var(--color-gold);
		font: 900 24px / 32px var(--font-playfair-black);
	}
	&__baner-subtitile{
		font: var(--prehigh-book);
		font-size: 16px;
		color: var(--color-grey-shade);
		line-height: 21px;
		max-width: 190px;
		margin-bottom: 15px;
	}
	&__hrefs-container{
		@include href-container;
	}
	&__hrefs{
		margin-right: 5px;
	}
	&__baner-content{
		padding-top: 26px;
		padding-left: 30px;
		padding-bottom: 30px;
	}
	&__product-container{
		grid-column: 4 / 13;
		display: flex;
		flex-direction: column;
	}
	&__modal-container{
    margin-bottom: 16px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
		align-content: space-around;
		max-width: max-content;
	}
	&__title{
		@include title-product;
		margin-right: 18px;
		margin-bottom: 13px;
	}
	&__title-container{
		display: flex;
	}
	&__list{
		grid-template-columns: repeat(9, 1fr);
		max-width: 100%;
	}
	&__modal{
		display: flex;
		align-items: center;
		border: 1px solid transparent;
		border-radius: 5px;
		padding: 4px 0;
		padding-left: 6px;
		padding-right: 10px;
		color: var(--color-grey-shade);
		animation: anim;
		animation-duration: 1s;
	}
	&__modal{
		&:not(:last-child){
			margin-right: 20px;
		}
		&:nth-child(n + 1){
			margin-bottom: 10px;
		}
	}
	&__modal-text{
		margin-right: 8px;
	}
	&__modal--product{
		background-color: var(--color-lime);
	}
	&__modal--price{
		background-color: var(--color-bone);
	}
	&__modal--sale{
		background-color: var(--color-pink);
	}
	&__modal--color{
		background-color: var(--color-md-grey);
	}
	&__modal-btn{
		max-height: 10px;
		background-image: url('../img/x.svg');
		background-size: contain;
		background-repeat: no-repeat;
		width: 10px;
		height: 10px;
	}
	&__swiper{
		max-width: 100%;
		margin-bottom: var(--main-offset);
	}
	&__swiper-slide{
		max-width: 100%;
		height: 420px;
	}
	&__items{
		display: flex;
		flex-direction: column;
	}
	&__product-title--size{
		max-width: 260px;
	}
	&__btn-contaner{
		align-self: center;
	}
	&__btn{
		padding: 6px 10px;
		border-radius: 10px;
		max-width: 100%;
		transition: background-color 0.3s ease-in, color 0.3s ease-in, border-color 0.3s ease-in;
	}
	&__btn:not(:last-child){
		margin-right: 10px;
	}
	&__btn--active{
		transition: background-color 0.3s ease-in, color 0.3s ease-in, border-color 0.3s ease-in;
		background-color: var(--color-fiol-dark);
		color: var(--color-white);
		border-color: var(--color-fiol-dark);
	}
}

.catalog__progress-bar{
	height: 100%;
	border-radius: 0;
	border-color: var(--color-md-grey);
}
.noUi-base{
	background-color: var(--color-md-grey);
	height: 2px;
}
.noUi-connects{
	border-color: var(--color-md-grey);
}
.noUi-connect{
background-color:var(--color-fiol);
}
.noUi-handle{
	border: none;
	height: 2px;
}
.noUi-horizontal .noUi-handle{
	width: 0;
	height: 20px;
	bottom: 0;
	top: 0;
	right: 0;
	background-color: var(--color-fiol);
}
.noUi-handle:before{
	cursor: pointer;
	top: 0;
	width: 0;
	left: -6px;
	content: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.0197 13C0.25466 13 -0.23717 12.1878 0.117236 11.5096L5.84671 0.546693C6.23552 -0.197262 7.30668 -0.177781 7.66819 0.579819L12.8994 11.5428C13.222 12.2187 12.7293 13 11.9804 13L1.0197 13Z' fill='%23A65CF0'/%3E%3C/svg%3E%0A");
}
.noUi-handle:after{
	display: none;
}
// fqwf
@keyframes anim {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
