.category {
  padding-bottom: 70px;
	padding-top: 69px;
  &__title {
    @include title;
  }
  &__items {
    background-color: var(--color-light-grey);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;

    &:nth-child(-n + 5) {
      min-height: 405px;
      grid-column: 4 span;
    }
    &:nth-child(-n + 2) {
      min-height: 511px;
      grid-column: 6 span;
    }
  }
  &__sort-container{
    margin-bottom: 14px;
  }
  &__sort {
    font: var(--small-book);
    color:var(--color-grey);
    &:not(:last-child){
      margin-right: 27px;
    }
  }
  &__content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }
  &__subtitle {
    margin-bottom: auto;
    @include title-product;
  }
  &__img {
    position: absolute;
    left: -30px;
    top: 56%;
    transform: translate(0,-50%);
  }
	&__hrefs-container{
		@include href-container;
	}

	&__hrefs{
		margin-right: 5px;
		&:hover svg {
			circle{
				fill: var(--color-fiol);
				transition: fill 0.3s ease-in;
			}
			path{
				stroke: var(--color-white);
				transition: stroke 0.3s ease-in;
			}
		}
		&:focus svg {
			circle{
				fill: var(--color-fiol);
				transition: fill 0.3s ease-in;
			}
			path{
				stroke: var(--color-white);
				transition: stroke 0.3s ease-in;
			}
		}
		&:active svg {
			circle{
				fill: var(--color-fiol-dark);
				stroke: inherit;
				transition: fill 0.3s ease-in, stroke 0.3s ease-in;
			}
		}
	}
	&__hrefs-text{
		margin-right: 5px;
		border-bottom: 2px solid transparent;
		transition: border 0.3s ease-in, color 0.3s ease-in;
		&:hover{
			border-color:var(--color-fiol);
			transition: border 0.3s ease-in;
		}
		&:focus{
			border-color: var(--color-fiol);
			transition: border 0.3s ease-in;
		}
		&:active{
			color: var(--color-fiol-dark);
			border-color: var(--color-fiol-dark);
			transition: color 0.3s ease-in, border 0.3s ease-in ;
		}
	}
  &__img--big{
		top: 55%;
		max-width: 515px;
    max-height: 308px;
  }
  &__img--small{
    max-height: 202px;
  }
	&__img--sofa{
		max-width: 305px;
	}
	&__img--commode{
		max-width: 330px;
	}
	&__img--chair{
		max-width: 258px;
	}
  &__hrefs--mobile{
    display: none;
  }
}

@media(max-width:1350px){
  .category {
    &__items{
      overflow: hidden;
      &:nth-child(1) {
        grid-column: 8 span;
        grid-row-start: 1;
      }
      &:nth-child(3) {
        grid-column: 4 span;
        grid-row-start: 1;
      }
      &:nth-child(2){
        grid-column: 4 span;
      }
      &:nth-child(4){
        grid-row-start: 2;
      }
    }
    &__img{
      max-height: 100%;
      max-width: inherit;
    }
    &__img--img1{
      left: -28px;
      width: 513px;
    }
    &__img--img2{
      left: -265px;
      width: 495px;
    }
    &__img--img3{
      height: 295px;
      width: 437px;
      top: 54%;
    }
    &__img--img4{
      top: 54%;
      height: 295px;
      width: 248px;
    }
    &__img--img5{
      left: -150px;
      height: 289px;
      width: 386px;
      top: 54%;
    }
    &__hrefs-text{
      margin-right: 0;
    }
  }
}
@media(max-width:950px){
  .category {
    &__items{
      overflow: hidden;
      &:nth-child(1) {
        grid-column: 12 span;
        grid-row-start: 1;
      }
      &:nth-child(3) {
        grid-column: 6 span;
        grid-row-start: 2;
        order: 1;
      }
      &:nth-child(2){
        grid-column: 4 span;
        grid-row-start: 2;
        grid-column: 6 span;
        order: 2;
      }
      &:nth-child(4){
        grid-row-start: 3;
        grid-column: 6 span;
        min-height:515px;
      }
      &:nth-child(5){
        grid-row-start: 3;
        grid-column: 6 span;
      }
    }

  }
}

@media(max-width:550px){
  .category {
    &__sort-container{
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }
    &__sort-container--display{
      display: block;
      margin-bottom: 19px;
    }
    &__img--img4{
      height: 245px;
      width: 248px;
    }
  }
}

@media(max-width:500px){
  .category {
    padding-bottom: 80px;
    &__sort{
      &:not(:last-child){
        margin-right: 16px;
      }
    }
    padding-top: 163px;
    &__hrefs-container{
      max-width: 50px;
    }
    &__list{
      grid-template-columns: repeat(6 , 1fr);
      gap: 35px 16px;
    }
    &__subtitle{
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 0;
      max-width: 100px;
      display: flex;
    }
    &__subtitle--size{
      font-size: 24px;
    }
    &__hrefs-container{
      display: none;
    }
    &__sort{
      font-size: 10px;
    }
    &__sort--size{
      font-size: 14px;
    }
    &__hrefs--mobile{
      display: inline-block;
      svg{
        display: inline-block;
        margin-left: 6px;
      }
    }
    &__items{

      &:nth-child(n + 2){
        padding-left: 16px;
        padding-bottom: 0;
        padding-top: 10px;
        min-height: 202px;
        grid-column: 3 span;
      }
      &:nth-child(1){
        grid-column: 6 span;
        min-height: 332px;
      }
    }
    &__img--img1{
      width: 110%;
      height: 210px;
      top: 66%;
    }
    &__img--img3{
      width: 135%;
      height: 105px;
      top: 65%;
      left: -20px;
    }
    &__img--img2{
      left: -34px;
      width: 140%;
      height: 105px;
      top: 65%;
    }
    &__img--img4{
      left: -20px;
      width: 120%;
      height: 85px;
      top: 70%;
    }
    &__img--img5{
      left: -10px;
      width: 110%;
      height: 110px;
      top: 67%;
    }

  }
}

