.contacts{
	&__container{
		gap: 0;
	}
	&__title{
		@include title;
		font-weight: bold;
		grid-column: 4 span;
	}
	&__form{
		grid-column: 12 span;
		max-width: 780px;
		display: flex;
		margin-bottom: var(--main-offset);
    position: relative;
	}
	&__input{
    position: relative;
		@include input-style;
		padding-left: 25px;
		border-radius: 10px;
		margin-right: 32px;
    max-width: 624px;
    font: var(--middle-book);
    z-index: 1;
		::placeholder{
			color: wheat;
		}
	}
	&__btn{
		padding: 19px 35px;
		max-width: max-content;
    font: var(--prehigh-regular);
	}
	&__map{
		grid-column: 12 span;
		width: 100%;
		max-width: 1920px;
		height: 510px;
		max-height: max-content;
		margin-bottom: 70px;
	}
}
.adress-list {
  position: absolute;
  top: 57px;
  left: 0;
  z-index: 1;
  max-height: max-content;
  width: 100%;
  max-width: 623px;
  min-height: 50px;
  border: 1px solid var(--color-grey);
  border-top: none;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: var(--color-light-grey);
  opacity: 0;
  visibility: hidden;

  &__button {
    display: block;
    max-width: max-content;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: var(--color-fiol-light);
    color: var(--color-white);
    opacity: 1;
    transition: filter 0.3s ease-in, border 0.3s ease-in, background-color 0.3s ease-in;
    &:hover{
      filter: opacity(0.8);
      transition: filter 0.3s ease-in;
    }
    &:focus{
      border: 2px solid var(--color-fiol-dark);
      transition: border 0.3s ease-in;
    }
    &:active{
      background-color: var(--color-fiol-dark);
      transition:  background-color 0.3s ease-in;
    }
  }

  &__list {
    min-height: 100%;
    padding: 15px;
    border-radius: 5px;
  }

  &__items{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: max-content;
    &:not(:last-child){
      margin-bottom: 5px;
    }
  }

  &__items--hide{
    display: none;
  }

  &__btn-close{
    position: absolute;
    right: 10px;
    top: 15px;
    max-width: max-content;
    svg{
      width: 15px;
      height: 15px;
    }
  }

  &--active{
    visibility: visible;
    opacity: 1;
    animation-name: aimOpen;
  animation-duration: 0.8s;
  }
  &__color-letter{
    color:var(--color-orange);
    }
}

@media (max-width:850px){
  .contacts{

    &__form{
      grid-column: 12 span;
      max-width: 780px;
      display: flex;
      flex-direction: column;
      margin-bottom: var(--main-offset);
      position: relative;
    }
    &__input{
      margin-bottom: 16px;
    }

  }
}
@keyframes aimOpen {
  from{
    visibility: hidden;
    opacity: 0;
  }

  to{
    opacity: 1;
    visibility: visible;
  }
}




