.contacts{
	&__container{
		gap: 0;
	}
	&__adress-container{
		display: flex;
		margin-bottom: var(--main-offset);
		grid-column: 12 span;
	}
	&__addres-hrefs{
		color: var(--color-grey);
	}
	&__addres-hrefs--active{
		color: var(--color-fiol-dark);
	}
	&__adress-items:not(:last-child){
		margin-right: 5px;
	}
	&__title{
		@include title;
		font-weight: bold;

		grid-column: 4 span;
	}
	&__form{
		grid-column: 12 span;
		max-width: 780px;
		display: flex;
		margin-bottom: var(--main-offset);
    position: relative;
	}
	&__input{
    position: relative;
		@include input-style;
		padding-left: 25px;
		border-radius: 10px;
		margin-right: 32px;
    max-width: 624px;
    z-index: 15;
		::placeholder{
			color: wheat;
		}
	}
	&__btn{
		padding: 19px 35px;
		max-width: max-content;
	}
	&__map{
		grid-column: 12 span;
		width: 100%;
		max-width: 1920px;
		height: 510px;
		max-height: max-content;
		margin-bottom: 70px;
	}
}
.adress-list{
  position: absolute;
  top: 55px;
  left: 2px;
  z-index: 10;
  max-height: max-content;
  width: 100%;
  max-width: 565px;
  min-height: 50px;
  border: 1px solid var(--color-grey);
  border-top: none;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: var(--color-light-grey);
  opacity: 0;
  visibility: hidden;
  animation-name: aimClose;
  animation-duration: 0.8s;

  &__list{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 15px;
    border-radius: 5px;
  }

  &__items{
    display: block;
    color: var(--color-black);
    background-color: var(--color-fiol-light);
    color: var(--color-white);
    padding: 5px;
    border-radius: 5px;
    max-width: max-content;
    &:not(:last-child){
      margin-bottom: 5px;
    }
  }

  &__items--hide{
    display: none;
  }

  &__btn-close{
    position: absolute;
    right: 10px;
    top:10px;
    max-width: max-content;
    svg{
      width: 15px;
      height: 15px;
    }
  }

  &--active{
    visibility: visible;
    opacity: 1;
    animation-name: aimOpen;
  animation-duration: 0.8s;
  }
  &__color-letter{
    color:var(--color-orange);
    }
}
@keyframes aimOpen {
  from{
    visibility: hidden;
    opacity: 0;
  }

  to{
    opacity: 1;
    visibility: visible;
  }
}
@keyframes aimClose {
  from{
    visibility: visible;
    opacity: 1;
  }

  to{
    opacity: 0;
    visibility: hidden;
  }
}


