.feedback {
  padding-bottom: 74px;
  &__container{
    display: flex;
		justify-content: space-between;
		align-items: center;
    position: relative;
  }
  &__content-container{
    width: 625px;
    max-width: 625px;
    position: relative;
  }
  &__subtitile{
    max-width: 600px;
  }
  &__tooltip{
    svg{
      vertical-align: middle;
    }
  }
  &__img{
    background-image: url('../img/feedback-img.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 100%;
		min-height: 383px;
    max-width: 624px;
    opacity: 0.6;

  }
}

.feedback__tooltip {
	position: relative;
	display: inline-block;
	font: var(--font-family-regular);
	font-size: 6px;
	line-height: 12px;
	cursor: pointer;
	vertical-align: middle;
}
.feedback__tooltip-text{
	transition: all 0.3s ease-in;
}
.feedback__tooltip .feedback__tooltip-text {
	opacity: 0;
	visibility: hidden;
	width: 120px;
	background-color: var(--color-black);
	color: var(--color-white);
	text-align: center;
	border-radius: 6px;
	padding: 7px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	transform: translate(-50%, 0);
}

.feedback__tooltip .feedback__tooltip-text::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--color-black) transparent transparent transparent;
}

.feedback__tooltip:hover .feedback__tooltip-text {
	opacity: 1;
	visibility: visible;
}

@media (max-width: 1250px){
  .feedback{
    padding-bottom: 46px;
    &__content-container{
      width: 406px;
      max-width: 100%;
    }
    &__img{
     background-position: 0 35px;
    max-width: 516px;
    }
  }
}

@media (max-width: 1000px){
  .feedback{
    padding-bottom: 0;
    &__content-container{
      max-width: 100%;
    }
    &__img{
      background-image: url('../img/feedback-img-768.png');
      background-position: 32px -23px;
      max-width: 219px;
      height: 430px;
      min-height: max-content;
    }
  }
}
@media (max-width: 500px){
  .feedback{
    padding-bottom: 0;
    &__content-container{
      max-width: 100%;
    }
    &__img{
      display: none;
    }
  }
}
