.feedback {
  padding-bottom: var(--section-padding);
  &__title{
    @include title;
		margin-bottom: 7px;
  }
  &__container{
    display: flex;
		justify-content: space-between;
		align-items: center;
  }
  &__content-container{
		width: 625px;
		max-width: 625px;
  }
  &__subtitile{
    font: var(--small-book);
    line-height: 19px;
    color: var(--color-grey-shade);
    max-width: 600px;
    margin-bottom: 20px;
  }
  &__tooltip{
    svg{
      vertical-align: middle;
    }
  }
  &__form{
		position: relative;
    display: flex;
    flex-direction: column;
  }
  &__input{
    width: 100%;
    max-width: 644px;
    min-height: 54px;
    padding-left: 18px;
    color: var(--color-grey);
    background-color: var(--color-light-grey);
		border: 2px solid transparent;
		border-radius: 10px;
		transition: all 0.3s ease-in;
    &::placeholder{
      color: var(--color-grey);
      font: var(--middle-book);
    }
    &:not(:last-child){
      margin-bottom: 30px;
    }
  }
  &__btn{
    padding:19px 35px;
    max-width: 159px;
    margin-bottom: 15px;
		&:disabled{
			background-color: grey;
			pointer-events: none;
			opacity: 0.3;
		}
  }
  &__checbox{
    display: inline-block;
  }
  &__label{
    max-width: 315px;
    font: var(--small-book);
    color: var(--color-black);
    position: relative;
    cursor: pointer;
		@import "components/checkbox";
  }
  &__deal-hrefs{
    text-decoration:underline;
    color: var(--color-fiol);
    margin-left: 5px;
  }
  &__img{
    background-image: url('../img/feedback-img.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 100%;
		min-height: 383px;
    max-width: 624px;
    opacity: 0.6;

  }
}
.js-validate-valid-label{
	border: 2px solid #B8EC64;
}
.feedback__tooltip {
	position: relative;
	display: inline-block;
	font: var(--font-family-regular);
	font-size: 6px;
	line-height: 12px;
	cursor: pointer;
}
.feedback__tooltip-text{
	transition: all 0.3s ease-in;
}
.feedback__tooltip .feedback__tooltip-text {
	opacity: 0;
	visibility: hidden;
	width: 120px;
	background-color: var(--color-black);
	color: var(--color-white);
	text-align: center;
	border-radius: 6px;
	padding: 7px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	transform: translate(-50%, 0);

}

.feedback__tooltip .feedback__tooltip-text::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--color-black) transparent transparent transparent;
}

.feedback__tooltip:hover .feedback__tooltip-text {
	opacity: 1;
	visibility: visible;
}

