.form-site{
  cursor: default;
  &__title{
    @include title;
		margin-bottom: 7px;
  }
  &__subtitile{
    font: var(--small-book);
    line-height: 19px;
    color: var(--color-grey-shade);
    margin-bottom: 20px;
  }
  &__form{
		position: relative;
    display: flex;
    flex-direction: column;
  }
  &__input{
    width: 100%;
    max-width: 644px;
    min-height: 54px;
    padding-left: 18px;
    color: var(--color-grey);
    background-color: var(--color-light-grey);
		border: 2px solid transparent;
		border-radius: 10px;
		transition-property: background-color, border-color, cursor;
		transition-duration: 0.3s;
		transition-timing-function: ease-in, ease-in, ease-in;
    &::placeholder{
      color: var(--color-grey);
      font: var(--middle-book);
    }
    &:not(:last-child){
      margin-bottom: 30px;
    }
  }
  &__btn{
    padding:19px 35px;
    max-width: 159px;
    margin-bottom: 15px;
		&:disabled{
			background-color: grey;
			pointer-events: none;
			opacity: 0.3;
		}
  }
  &__checbox{
    display: inline-block;
  }
  &__label{
    max-width: 315px;
    font: var(--small-book);
    color: var(--color-black);
    position: relative;
    cursor: pointer;
		@import "components/checkbox";
  }
  &__deal-hrefs{
    text-decoration:underline;
    color: var(--color-fiol);
    margin-left: 5px;
  }
}
.js-validate-valid-label{
	border: 2px solid #B8EC64;
}
@media (max-width: 1250px){
  .form-site{
    padding-bottom: 46px;
    &__content-container{
      width: 406px;
      max-width: 100%;
    }
    &__title{
      @include title;
      max-width: 90%;
      margin-bottom: 9px;
    }
  }
}
@media (max-width: 340px){
  .form-site{
    &__subtitile{
      margin-bottom: 15px;
    }
    &__input{
      &:not(:last-child){
        margin-bottom: 31px;
      }
    }
    &__btn{
      margin-bottom: 14px;
    }
    &__span-accept{
      font-size: 12px;
    }
    &__deal-hrefs{
      margin-left: 2px;
    }
  }
}
