.premium {
  padding-bottom: 70px;
  &__title{
    @include title;
  }
  &__container{
    display: flex;
    flex-direction: column;
  }
	&__content-container{
		position: relative;
	}
  &__list{
		position: relative;
  }
	&__items{
		animation: slideIn;
 		animation-duration: 2s;
		grid-column: 3 span;
	}
	&__articles{
		display: flex;
		flex-direction: column;
		position: relative;
		animation: slideIn;
		 animation-duration: 2s;
		 height: 100%;
		 max-width: max-content;
	}
	&__articles--hidden{
		display: none;
  	visibility: hidden;
  	opacity: 0;
	}
  &__btn-more{
    padding: 22px 36px;
    max-width: 300px;
    margin: 0 auto;
    opacity: 1;
    visibility: visible;
    transition: opacity 5s ease-in, visibility 2s ease-in;
  }
	&__btn-more--hidden{
    transition: opacity 5s ease-in, visibility 2s ease-in;
		opacity: 0;
		visibility: hidden;
	}
}
@import "components/sofa-card";

@keyframes slideIn{
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@media(max-width:1350px){
  .premium {
    padding-bottom: 68px;
    &__items{
      grid-column: 4 span;
    }
    &__list{
      margin-bottom: -30px;
    }
  }
}
@media(max-width:970px){
  .premium {
    &__items{
      grid-column: 6 span;
    }
    &__list{
      margin-bottom: -64px;
    }
  }
}
@media(max-width:550px){
  .premium {
    &__list{
      grid-template-columns: repeat(6, 1fr);
      gap: 18px 16px;
    }
    padding-top: 120px;
    &__items{
      grid-column: 3 span;
    }
    &__list{
      margin-bottom: -32px;
    }
  }
}

