.premium {
  padding-bottom: var(--section-padding);
  &__title{
    @include title;
  }
  &__container{
    display: flex;
    flex-direction: column;
  }
	&__content-container{
		position: relative;
	}
  &__list{
    margin-bottom: 30px;

  }
	&__items{
		display: flex;
		flex-direction: column;
		position: relative;
		animation: slideIn;
 		animation-duration: 2s;
 		height: 100%;

	}
	&__items--hidden{
		display: none;
  	visibility: hidden;
  	opacity: 0;
	}

  &__btn-more{
    padding: 22px 36px;
    max-width: 300px;
    margin: 0 auto;
  }
	&__btn-more--hidden{
		transform: translateY(100px);
		padding: 0;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease-in;
	}
}
@import "components/sofa-card";

@keyframes slideIn{
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
