.product{
	position: relative;
  min-height: 511px;
  background-color: var(--color-light-grey);
  width: 100%;
	&__container{
	display: flex;
  flex-direction: column;
	padding-left: 30px;
	padding-bottom: 30px;
	min-height: 511px;
	}
	&__img--big {
		padding-top: 40px;
		padding-left: 60px;
		max-height: 294px;
		max-width: 510px;
  }
  &__img--card_1 {
    max-width: 214px;
		max-height: 280px;
		padding-top: 73px;
		padding-left: 22px;
  }
  &__img--card_3 {
		max-width: 195px;
		max-height: 280px;
		padding-top: 64px;
		padding-left: 45px;
  }
  &__img--card_4 {
		max-width: 195px;
		max-height: 280px;
		padding-top: 64px;
		padding-left: 45px;
  }
  &__img--card_6 {
		max-width: 195px;
		max-height: 280px;
		padding-top: 64px;
		padding-left: 45px;
  }

  &__sale{
    position: absolute;
    top: 30px;
    left: 0;
    max-width: max-content;
    background-color: var(--color-orange);
    color: var(--color-white);
    padding: 8px 0;
    padding-right: 21px;
		padding-left: 20px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
		font: var(--small-book);
		line-height: 19px;
    &::after{
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 18px 17px 17px 10px;
      border-color: transparent transparent transparent #ff862f;
      right: -26px;
      top: 50%;
      transform: translate(0,-50%);
    }
  }
	&__sale--small{
		padding-left: 26px;
		padding-right: 27px;
	}
	&__sale--big{
		padding-left: 17px;
		padding-right: 16px;
	}
  &__img{
    margin-bottom: auto;
  }
  &__img-project{
    position: absolute;
    right:  30px;
    bottom: 30px;
    max-width: 230px;
    object-fit: cover;
  }
	&__img--card_5{
		max-width: 560px;
	}
  &__content-container {
    display: flex;
    flex-direction: column;

  }
  &__item{
    @include title-product;
		max-width: 222px;
		margin-bottom: 20px;
  }
  &__price-container{
    margin-bottom: 20px;
  }
  &__old-price {
    font: var(--middle-book);
    color: var(--color-grey);
    text-decoration: line-through;
  }
  &__price{
    font: var(--prehigh-middle-book);
    color: var(--color-orange);
    margin-right: 25px;
		line-height: 27px;
  }

}
@media(max-width:1350px){
  .product{
    &__img-project{
      display: none;
    }
    &__img--big{
      padding-top: 115px;
      padding-right: 20px;
      padding-left: 0;
      max-width: 260px;
    }
    &__img--card_6{
      padding-top: 95px;
    }
    &__img--card_5{
      max-height: 100%;
      height: 250px;
      padding-top: 122px;
    }
  }
}

@media(max-width:550px){
  .product{
    max-width: 300px;
    display: flex;
    justify-content: center;
  }
}
@media(max-width:330px){
  .product{

    justify-content: flex-start;
  }
}
