.similar{
	margin-bottom: 70px;
	&__container{
		position: relative;
	}
	&__title{
		@include title-product;
    margin-bottom: 23px;
	}
	&__items{
		display: flex;
		flex-direction: column;
	}
	&__product-title--size{
		max-width: 260px
	}
	&__btn-container{
		@include btn-container;
	}
	&__btn-slide--prew{
		margin-right: 10px;
	}
	&__img{
		max-width: 250px;
	}
  &__img--size{
    max-width: 230px;
  }
}

@media(max-width: 750px){
  .similar{
      &__img--size{
        max-width: 190px;
      }
      &__content-container{
        padding-bottom: 20px;
      }
  }
}
