.special {
  padding-bottom: var(--section-padding);
  &__container {
    position: relative;
  }
  &__title {
    @include title;
  }
	&__btn-container{
		@include btn-container;

  }
	&__btn-slide--prew{
    margin-right: 10px;
  }
	&__swiper{
		overflow-x: clip;
	}
	&__swiper-wrapper{
		max-width: 100%;
	}
	&__swiper-slide{
		max-width: 294px;
	}
	&__swiper-slide--big{
		max-width: 624px;
	}
}
