.special {
  padding-bottom: var(--section-padding);
  &__container {
    position: relative;
  }
  &__title {
    @include title;
  }
	&__btn-container{
		@include btn-container;

  }
	&__btn-slide--prew{
    margin-right: 10px;
  }
	&__swiper{
		overflow-x: clip;
	}
	&__swiper-wrapper{
		max-width: 100%;
	}
	&__swiper-slide{
		width: 294px;
	}
	&__swiper-slide--big{
		width: 624px;
	}
}
@media(max-width:1350px){
  .special{
    &__swiper-slide{
      width: auto;
    }
    &__btn-container{
      right: 35px;
    }
    &__swiper-slide--big{
      width: auto;
    }
  }
}
@media(max-width:920px){
  .special{
    &__btn-container{
      right: 73px;
    }

  }
}
@media(max-width:550px){
  .special{
    padding-top: 50px;
    padding-bottom: 0;
    &__swiper-slide{
      display: flex;
      justify-content: center;
    }
    &__btn-container{
      right: 50%;
      transform: translate(50% , 0);
      bottom: -50px;
      top: inherit;
      z-index: 20;
      height: 30px;
    }
  }
}
@media(max-width:340px){

}
