.useful {
  padding-bottom: 70px;
  &__container{
    position: relative;
  }
  &__title {
    @include title;
  }
  &__btn-prev{
    margin-right: 10px;
  }
  &__btn-container{
		@include btn-container;
  }
  &__swiper-slide{
    background-color: var(--color-light-grey);
    min-height: 676px;
  }
	&__articale{
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;
	}
  &__img{
    max-height: 426px;
    width: 100%;
    margin-bottom: 30px;
  }
  &__content-container{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    min-height: 191px;
    padding-right: 10px;
  }
  &__subtitile{
    max-width: 570px;
    font: var(--prehigh-book);
    color: var(--color-black);
    margin-bottom: auto;
		line-height: 34px;
  }
  &__btn{
    background-color: transparent;
  }
}
@media(max-width:1300px){
.useful{
  &__swiper-slide{
    min-height: 455px;
  }
  &__subtitile{
    font-size: 16px;
    line-height: 21px;
    max-width: 230px;
  }
  &__btn-container{
    right: 70px;
  }
}
}
@media(max-width:340px){
  .useful{
    padding-bottom: 117px;
    &__img{
      margin-bottom: 34px;
    }
    &__btn-container{
      right: 0;
      max-height: max-content;
      left: 59%;
      top: 524px;
      transform: translate(-50% , 0);
    }
  }
  }
