@mixin title {
  font: var(--prehigh-high-book);
  color: var(--color-black);
  margin-bottom: 26px;
	max-width: 70%;
  @media (max-width: 550px) {
    font: var(--prehigh-book);
    line-height: 24px;
  }
}
@mixin title-product {
  font: var(--prehigh-book);
  color: var(--color-black);
}
@mixin title-filter {
  font: var(--prehigh-regular);
  color: var(--color-grey-shade);
}
@mixin filter-content {
	font: var(--middle-book);
  color: var(--color-grey-shade);
	max-width: 70%;
}

@mixin btn-container {
	display: flex;
    position: absolute;
    right: 15px;
    top: 0;
}

@mixin href-container {
	display: flex;
	align-items: center;
	svg{
		vertical-align: middle;
	}
}

@mixin input-style {
	background-color: var(--color-light-grey);
	width: 100%;
	border-radius: 10px 0px 0px 10px;
	min-height: 60px;
	padding-left: 59px;
	color: var(--color-grey);
	transition: background-color 0.3s ease-in, border-color 0.3s ease-in, color 0.3s ease-in;
	border: 2px solid transparent;
	&::placeholder {
		color: var(--color-grey);
}
}
@mixin overlay-style {
  position: fixed;
  left:0;
  top:0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease-in;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}
@mixin overlay-style-visible{
  opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
}
