*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1310px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

p{
  padding: 0;
  margin: 0;
}

.title-reset{
  padding: 0;
  margin: 0;
}
.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

:focus{
  outline: none;
  border: none;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.input-effect {
	&:hover {
		cursor: pointer;
		background-color:var(--color-md-grey);
		transition: all 0.3s ease-in;
	}
	&:focus {
		border: 2px solid var(--color-fiol);
		transition: all 0.3s ease-in;
		background-color:var(--color-fiol-extraLigth);
	}
	&:active {
		transition: all 0.2s ease-in;
		background-color: transparent;
		border-color: transparent;
}
}

.hrefs {
	color: inherit;
  transition: all 0.3s ease-in;
	&--link{
		color: transparent;
		&:hover{
			color: var(--color-fiol);
			transition: all 0.3s ease-in;
		}
	}
	&--first {
  :focus{
    background-color: var(--color-fiol-pink);
    color: var(--color-fiol-dark);
    transition: all 0.3s ease-in;
  }
  :active{
    background-color: inherit;
    color: var(--color-fiol-dark);
    transition: all 0.3s ease-in;
  }

}
	&--second {
  :focus {
    background-color: var(--color-fiol-pink);
    color: var(--color-black);
    transition: all 0.3s ease-in;
  }
  :active {
    background-color: inherit;
    color: var(--color-fiol-dark);
    transition: all 0.3s ease-in;
  }
}
	&--social {
	cursor: pointer;
	transition: all 0.3s ease-in;
		&:hover {
			svg{
				path:nth-child(1n){
					fill: var(--color-fiol);
					transition: all 0.3s ease-in;
				}
			}
		}
		&:focus {
			background-color: var(--color-fiol-light);
			svg{
				path:nth-child(1n){
					fill: var(--color-white);
					transition: all 0.3s ease-in;
				}
			}
		}
		&:active {
			background-color: transparent;
			svg{
				path:nth-child(1n){
					fill: var(--color-fiol-dark);
					transition: all 0.3s ease-in;
				}
			}
		}
}
}


.btn {
  border: none;
  padding: 0;
  outline: 2px solid transparent;
  background: transparent;
  cursor: pointer;
  overflow: none;
  transition: all 0.3s ease-in-out;
	&--disabled {
    cursor: auto;
    pointer-events: none;
    svg{
      circle, path {
        stroke: var(--color-grey);
        opacity: 0.6;
        transition: all 0.5s ease-in;
      }
    }
  }
  &--first {
    font: var(--middle-bold);
    color: var(--color-white);
    background-color: var(--color-fiol);
    border-radius: 10px;
      &:hover{
        background-color: var(--color-fiol-light);
        transition: all 0.3s ease-in-out;
      }
      &:focus{
        background-color: var(--color-fiol-light);
        outline: 2px solid var(--color-fiol-dark);
        transition: all 0.3s ease-in-out;
      }
      &:active{
        outline: 2px solid var(--color-fiol-dark);
        background-color: var(--color-fiol-dark);
        transition: all 0.3s ease-in-out;
      }
  }
  &--second {
    border: 2px solid var(--color-fiol);
    font: var(--prehigh-regular);
    color: var(--color-fiol);
    padding: 17px 35px;
    border-radius: 10px;
    max-width: 128px;
    background-color: var(--color-white);
    &:hover{
      background-color: var(--color-fiol);
      color: var(--color-white);
      transition: all 0.3s ease-in-out;
    }
    &:focus{
      background-color: var(--color-fiol-light);
      border: 2px solid var(--color-fiol-dark);
      transition: all 0.3s ease-in-out;
    }
    &:active{
      border: 2px solid var(--color-fiol-dark);
      background-color: var(--color-fiol-dark);
      transition: all 0.3s ease-in-out;
    }
  }
	&--third {
    font: var(--middle-book);
		color: var(--color-fiol);
    max-width: 128px;
    &:hover{
      color: var(--color-fiol-dark);
      transition: all 0.3s ease-in-out;
    }
    &:focus{
      background-color: var(--color-fiol-dark);
      color: var(--color-fiol-pink);
      transition: all 0.3s ease-in-out;
    }
    &:active{
      color: var(--color-fiol-dark);
      background-color: var(--color-fiol-pink);
      transition: all 0.3s ease-in-out;
    }
  }
  &--svg {
		display: block;
		position: relative;
    font: var(--middle-bold);
    color: var(--color-fiol);
		margin-right: 5px;
		transition: all 0.4s ease-in-out;
    &:hover{
      svg{
        circle{
          fill: var(--color-fiol);
          transition: all 0.4s ease-in-out;
        }
        path{
          stroke: var(--color-white);
          transition: all 0.4s ease-in-out;
        }
      }
    }
    &:focus{
      svg{
        circle{
          fill: var(--color-fiol-light);
          transition: all 0.4s ease-in-out;
        }
        path{
          stroke: var(--color-white);
          transition: all 0.4s ease-in-out;
        }
      }
    }
    &:active{
      svg{
        circle{
          fill: var(--color-fiol-dark);
          stroke: inherit;
          transition: all 0.4s ease-in-out;
        }
      }
    }
  }
  &--person {
    width: 32px;
    height: 32px;
    svg{
      vertical-align: middle;
    }
    &:hover {
      svg{
        fill: var(--color-fiol-light);
        transition: all 0.3s ease-in-out;
      }
    }
    &:focus {
      background-color: var(--color-fiol-light);
      transition: all 0.4s ease-in-out;
      svg{
        fill: var(--color-white);
        transition: all 0.3s ease-in-out;
      }
    }
    &:active {
      background-color: inherit;
      svg{
        fill: var(--color-fiol-dark);
        transition: all 0.3s ease-in-out;
      }
    }

  }

}

.tel {
  transition: all 0.3s ease-in-out;
  &:hover{
    color: var(--color-orange-light);
    transition: all 0.3s ease-in-out;
  }
  &:focus{
    color: var(--color-orange);
    background-color: var(--color-orange-extra-light);
    transition: all 0.3s ease-in-out;
  }
  &:active{
    color: var(--color-orange-dark);
    background-color: inherit;
    transition: all 0.3s ease-in-out;
  }
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin:-1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);

}

.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:var(--main-offset);
}

input, textarea{
  padding: 0;
  border: none;
  resize: none;
  &::placeholder {
    color: transparent;
  }
}

// choices settings
.choices {
  margin-bottom: 0;
	overflow: visible;
}
.choices[data-type*=select-one]:after{
  display: none;
}
.choices[data-type*=select-one] .choices__inner{
  padding-bottom: 0;
}
.is-open .choices__list--dropdown{
	border-color: var(--color-light-grey);
	cursor: auto;
}
.choices__list--dropdown .choices__item--selectable{
  padding: 0;
}
.is-selected{
  display: none;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted{
  background-color: inherit;
}
.is-focused .choices__inner, .is-open .choices__inner{
  border-color: #F7F7F7;
  border-radius: 0px 10px 10px 0px;
}
.choices__placeholder{
	opacity: 1;
}
.choices__placeholder.choices__item--disabled{
	opacity: 0;
	display: none;
}

// category-hover
.category__hrefs{
	transition: all 0.3s ease-in;
	&:active{
		color: var(--color-fiol-dark);
		transition: all 0.3s ease-in;
	}
	&::after{
		position: absolute;
		content: "";
		border-bottom: 2px solid var(--color-fiol);
		bottom: -5px;
		left: 0;
		width: 100%;
		opacity: 0;
		transition: all 0.3s ease-in;
	}
	&:hover::after{
		opacity: 1;
		transition: all 0.3s ease-in;
	}
	&:focus::after{
		opacity: 1;
		transition: all 0.3s ease-in;
	}
	&:active::after{
		opacity: 1;
		border-color: var(--color-fiol-dark);
		transition: all 0.3s ease-in;
	}
}
.category__hrefs:hover + svg{
		circle{
			fill: var(--color-fiol);
			transition: all 0.4s ease-in-out;
		}
		path{
			stroke: var(--color-white);
			transition: all 0.4s ease-in-out;
		}
}
.category__hrefs:focus + svg{
		circle{
			fill: var(--color-fiol-light);
			transition: all 0.4s ease-in-out;
		}
		path{
			stroke: var(--color-white);
			transition: all 0.4s ease-in-out;
		}

}
.category__hrefs:active + svg{
		circle{
			fill: var(--color-fiol-dark);
			stroke: inherit;
			transition: all 0.4s ease-in-out;
		}
}

// select arrow
.header__town-select{
	&::before{
		position: absolute;
		content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='%23A65CF0' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.65674 9.80521L10.5593 4.90261L11.3136 5.65685L5.65674 11.3137L-0.000115871 5.65685L0.754131 4.90261L5.65674 9.80521Z' /%3E%3C/svg%3E");
		right: 0;
		z-index: 100;
		transition: all 0.3s ease-in;
		}

}
.header__town-select.is-open{
	&::before{
		transition: all 0.3s ease-in;
		top: 0;
		transform: rotate(180deg);
		}
}

.header__catalog-select{
	&::before{
		position: absolute;
		content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.65674 9.80521L10.5593 4.90261L11.3136 5.65685L5.65674 11.3137L-0.000115871 5.65685L0.754131 4.90261L5.65674 9.80521Z' fill='%23A65CF0'/%3E%3C/svg%3E");
		right: 11%;
		top: 35%;
		transform: translate(0, -35%);
		z-index: 100;
		transform: rotate(0deg);
		transition: all 0.3s ease-in;
	}
}
.header__catalog-select.is-open{
	&::before{
		transform: rotate(180deg);
		transition: all 0.3s ease-in;
	}
}


// select focus and active class .is-open
.header__town-select:focus{
	background-color: var(--color-fiol-pink);
}
.header__town-select:active{
	transition: all 0.3s ease-in;
	background-color: inherit;
}


.header__catalog-select:focus > .choices__inner{
	border-color: var(--color-fiol);
	background-color: var(--color-fiol-pink);
	transition: all 0.3s ease-in;
}
.header__catalog-select:active > .choices__inner {
	border-color: var(--color-fiol-dark);
}
.header__catalog-select.is-open:focus > .choices__inner{
	border-color: var(--color-light-grey);
	background-color: var(--color-white) ;
}

// just-validate message

.js-validate-error-label{
	font: var(--small-book);
	position: absolute;
	z-index: 3;
	display: flex;
	flex-direction: column;
	font-size: 9px;
	left: 25px;
}

#name + .js-validate-error-label{
	top: -18px;
}
#tel + .js-validate-error-label{
	top: 62px;
}
#email + .js-validate-error-label{
	top: 145px;
}

